<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/style/style.css">
</head>
<body class="menu-bg">
    <div class="menu-container">
        <h1>Bienvenue sur mon serveur Go 🚀</h1>
        <h2>Jouez au Puissance 4 contre un ami !</h2>
        <a href="/jeu" class="button">🎮 Jouer au Puissance 4</a>
    </div>
</body>
</html>
